{% extends "store/base.html" %}
{% block content %}
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <br/>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <br/>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" style="background-color:black;color:white">Login</button>
            </div>
        </div>
        </form>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% elif message.tags == 'info'%}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% elif message.tags == 'warning'%}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% elif message.tags == 'error'%}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}